@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/IBMPlexMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/IBMPlexMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/IBMPlexMono-Bold.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'IBM Plex Mono', monospace;
}
